
body{
    background-color: #0e1832  !important;
} 
.page-header{
	color: white;
}
.row{
	color: white;
}

.menu ul li{
	background-color: #0e1832;
	float: left;
	width: 170px;
	height: 30px;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	position: relative;
	top: -62px;
	left: 165px;
}
.menu ul li:hover{
	background-color: #63e834;
}
.menu ul li:hover > ul{
	display:block;
}
.menu ul ul li:hover{
	background-color: #152766;
}

.menu ul ul ul li:hover{
	background-color: #63e834;
}
.menu ul ul{
	display: none;
}
.menu a{
	color: white;
}
.menu ul{
	padding: 0px;
}
.menu ul ul ul{
	margin-left: 221px;
	top: 0px;
	position: absolute;
}
header{
	display: block;
	background-color:#0e1832;
	width:1350px;
    height: 75px;
}
.plogo{
	position: absolute; 
	right: 150px; 
	top: 22px;
}
.slogo{
	position: absolute; 
	right: 87px; 
	top: 21px;
}
